support/com/guiseframework/pub/dtd/guise.dtd

<!-- Guise XHTML DTD -->
<!-- Copyright (c) 2006-2007 GlobalMentor, Inc. -->
<!--
	Public and System Identifiers:
		PUBLIC "-//Guise//DTD XHTML Guise 1.0//EN"
		SYSTEM "http://www.guiseframework.org/guise/dtd/guise.dtd"

		example: <!DOCTYPE html PUBLIC "-//Guise//DTD XHTML Guise 1.0//EN" "http://www.guiseframework.org/guise/dtd/guise.dtd">

@see http://www.w3.org/TR/xhtml-modularization/
@see http://golem.ph.utexas.edu/DTD/xhtml11-target.dtd
@see http://groups.yahoo.com/group/XHTML-L/message/1933
@see http://www.w3.org/TR/xhtml-modularization/dtd_module_rules.html#s_dtd_module_rules
@see http://www.alistapart.com/articles/customdtd/
-->

<!--import XHTML 1.1 base module-->
<!ENTITY % xhtml11-base.mod PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
%xhtml11-base.mod;

<!--import XHTML 1.1 target module-->
<!ENTITY % xhtml-target.mod PUBLIC "-//W3C//ELEMENTS XHTML Target 1.0//EN" "http://www.w3.org/TR/xhtml-modularization/DTD/xhtml-target-1.mod">
%xhtml-target.mod;

<!--import XHTML 1.1 iframe module-->
<!ENTITY % xhtml-iframe.mod PUBLIC "-//W3C//ELEMENTS XHTML Inline Frame Element 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-iframe-1.mod">
%xhtml-iframe.mod;

<!--HTML attributes dropped in XHTML-->

<!ATTLIST script
  language    							CDATA          #IMPLIED
>

<!--add custom Guise attributes-->

<!ATTLIST div
  guise:commands    				CDATA          #IMPLIED
  guise:patchType						CDATA          #IMPLIED
>

<!ATTLIST img
  guise:originalSrc					%URI;          #IMPLIED
  guise:rolloverSrc					%URI;          #IMPLIED
>

<!ATTLIST input
  guise:patchType						CDATA          #IMPLIED
>

<!ATTLIST textarea
  wrap    									CDATA          #IMPLIED
>

<!--TODO: add guise:contentHash and guise:attributeHash to all elements-->
